header {
<<<<<<< HEAD
  max-width: 1200px;
=======
>>>>>>> deploy
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
<<<<<<< HEAD
  width: 83%;
=======
  width: 80%;
>>>>>>> deploy
}

.main-image {
  transform: translate(0, -20%);
  width: 100%;
}

a {
  z-index: 999;
}
