header {
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 83%;
}

.main-image {
  transform: translate(0, -20%);
  max-width: 100%;
  height: auto;
}

a {
  z-index: 999;
}
